@model  List<Model.Services.Docente.TareaDetalle>
@{
    ViewBag.Title = "Ver Tareas";
}
<style>
    th {
        background: #8b1716;
        color: #fff;
        padding: 20px !important;
    }

    td {
        padding: 20px !important;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            @if (Model != null)
            {
                <table class="table table-hover table-striped m-0">
                    <thead>
                        <tr>
                            <th>Sede</th>
                            <th>Carrera</th>
                            <th>Materia</th>
                            <th>Paralelo</th>
                            <th>Tema</th>
                            <th>Descripción</th>
                            @*<th>Fecha Creación</th>*@
                            <th>Fecha Entrega</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.DESCRIPCION_UNIVERSIDAD</td>
                                    <td>@item.DESCRIPCION_CARRERA</td>
                                    <td>@item.DESCRIPCION_MATERIA</td>
                                    <td>@item.DESCRIPCION_PARALELO</td>
                                    <td>@item.TEMA_TAREA</td>
                                    <td>@Html.Raw(item.DESCRIPCION_TAREA)</td>
                                    @*<td>@item.FECHA_CREACION_TAREA</td>*@
                                    <td>@item.FECHA_FIN_TAREA</td>
                                    <td>
                                        <a href='@Url.Action("CalificarTareas","Tareas")/@item.ID_TAREA' title="Calificar Tarea" class="on-default edit-row text-custom"><i class="zmdi zmdi-library"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                            }
        </div>
    </div>
</div>
