@model List<Model.Services.Admin.CronogramaAdjunto>


<script>

    function EliminarDetalle(ID_CRONOGRAMA_ADJUNTO) {
        if (confirm("¿Está seguro que desea eliminar este registro?")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("EliminarAdjunto", "Cronograma")',
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { ID_CRONOGRAMA_ADJUNTO: ID_CRONOGRAMA_ADJUNTO },
                success: function (response) {
                    if (response.success) {
                        ActualizarDetalle();
                        toastr.success('Correcto', response.message, { timeOut: 5000 })
                    }
                    else {
                        toastr.error(response.message, { timeOut: 5000 })
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    //alert('Error!!');
                }
            });
        }
    }

</script>

<table class="table table-hover table-striped m-0">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Nombre</th>
            <th>Peso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_CRONOGRAMA_ADJUNTO</td>
                        <td>
                            <span class="lead m-t-0  text-custom"><i class="@item.ICONO_ADJUNTO"></i></span>
                        </td>
                        <td>
                            @if (item.ICONO_ADJUNTO != "zmdi zmdi-collection-video")
                            {
                                <a href="@Url.Content(item.RUTA_ADJUNTO.Replace(@".\","~/").Replace(@"\","/"))" target="_blank">
                                    @item.NOMBRE_ADJUNTO
                                </a>
                            }
                            else
                            {
                                <a href="javascript:ModalVideo('@Url.Action("Video","Visualizador")/@item.ID_CRONOGRAMA_ADJUNTO');">
                                    @item.NOMBRE_ADJUNTO
                                </a>
                            }
                        </td>
                        <td>@item.PESO_ADJUNTO</td>
                        <td>
                            <button title="Eliminar" onclick="EliminarDetalle(@item.ID_CRONOGRAMA_ADJUNTO)" class="btn btn-icon waves-effect waves-light btn-custom btn-xs m-b-5"> <i class="fa fa-trash-o"></i> </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        <p class="text-muted text-center">
                            Ningún dato disponible en esta tabla
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
