@model List<Model.Services.Admin.ListaHorarioDocente>

<table class="table table-hover table-striped m-0">
    <thead>
        <tr>
            <th>Periódo</th>
            <th>Sede</th>
            <th>Carrera</th>
            <th>Materia</th>
            <th>Paralelo</th>
            <th>Día</th>
            <th>Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DESDESCRIPCION_PERIODO</td>
                        <td>@item.DESCRIPCION_UNIVERSIDAD</td>
                        <td>@item.DESCRIPCION_CARRERA</td>
                        <td>@item.DESCRIPCION_MATERIA</td>
                        <td>@item.DESCRIPCION_PARALELO</td>
                        <td>@item.DESCRIPCION_DIAS</td>
                        <td>@item.HORA</td>
                        <td>
                            <button onclick='EliminarDetalle(@item.ID_HORARIO_DETALLE)' class="btn btn-icon waves-effect waves-light btn-custom btn-xs m-b-5"> <i class="fa fa-trash-o"></i> </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">
                        <p class="text-muted text-center">
                            Ningún dato disponible en esta tabla
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
