@model List<Model.Services.Admin.NotaDetalle>

@{
    ViewBag.Title = "Nota Detalle";
}
<div class="row">
    <div class="col-sm-12">
        @*<h4 class="page-title">@ViewBag.Title</h4>*@
        @if (Model != null)
        {
            <h4>@Model[0].DESCRIPCION_NOTA.ToString()</h4>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="m-t-25"></div>
        @if (Model != null)
        {
            <button type="button" onclick="ModalForm('@Url.Action("CreaNotaDetalle", "Notas")/@Model[0].ID_NOTA/0" cla class="btn btn-custom waves-effect waves-light m-b-5"> <i class="fa fa-plus-circle m-r-5"></i> <span>Añadir</span> </button>
        }
        
        <div class="m-t-25"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <table id="tbl_Nota" class="table-datatable table dt-responsive table-striped jambo_table bulk_action tblInscripcion" style="width:100%">
                <thead>
                    <tr class="headings">
                        <th class="column-title">#</th>
                        <th class="column-title">Descripción</th>
                        <th class="column-title">Porcentaje</th>
                        <th class="column-title"></th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @{ decimal valor = 0M; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID_NOTA_DETALLE</td>
                                <td>@item.DESCRIPCION_NOTA_DETALLE</td>
                                <td>@item.VALOR_DETALLE %</td>
                                <td>
                                    <button title='Editar Datos' type='button'  class='btn btn-icon waves-effect waves-light btn-custom btn-xs m-b-5'><em class='zmdi zmdi-edit'></em></button>
                                </td>
                            </tr>
                            valor = valor + item.VALOR_DETALLE.Value;
                        }
                        <tr>
                            <th></th>
                            <th>NOTA FINAL</th>
                            <th>@valor %</th>
                            <th></th>
                        </tr>
                    </tbody>
                            }
            </table>
        </div>
    </div>
</div>
@* MODAL *@
<div class="modal fade modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

</div>