@model List<Model.Services.Docente.NotasAsignadas>
@{
    ViewBag.Title = "Calificaciones";
}



<style>
    th {
        background: #8b1716;
        color: #fff;
        padding: 20px !important;
    }

    td {
        padding: 20px !important;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="table-responsive">
                @if (Model != null)
                {
                    <table class="table table-hover table-striped m-0">
                        <thead>
                            <tr>
                                <th>Sede</th>
                                <th>Carrera</th>
                                <th>Nota</th>
                                <th>Hora</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.DESCRIPCION_UNIVERSIDAD</td>
                                    <td>@item.DESCRIPCION_CARRERA</td>
                                    <td>@item.DESCRIPCION_NOTA</td>
                                    <td>@item.HORA</td>
                                    <td><a href='@Url.Action("Nota","Calificaciones")/@item.ID_SEDE/@item.ID_CARRERA/@item.ID_NOTA/@item.ID_INTERVALO_DETALLE' class="on-default edit-row text-danger"><i class="fa fa-edit"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div><!-- end col -->

</div>