@model Model.Services.Admin.Paralelo
@{
    Layout = null;
}

<script>

    $(document).ready(function () {
        ActualizarDetalle();
    });


    function ActualizarDetalle() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Detalle", "Paralelo")',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#myPartialViewDiv').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Parelo</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("Index", "Paralelo", FormMethod.Post, new { onsubmit = "return SubmitForm(this,'" + @Url.Action("Index", "Paralelo", new { id = string.Empty }) + "')", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID_PARALELO)
                        <div class="form-group">
                            @Html.LabelFor(model => model.DESCRIPCION_PARALELO, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DESCRIPCION_PARALELO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DESCRIPCION_PARALELO, "", new { @class = "text-custom" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-custom waves-effect waves-light m-b-5 btn-loding" data-loading-text="<span class='btn-label'><i class='fa fa-circle-o-notch fa-spin'></i></span> Guardar<span class='md-ripple'></span>"><span class="btn-label"><i class="fa fa-save"></i></span> Guardar<span class="md-ripple"></span></button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-12">
                    <div id="myPartialViewDiv">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>